* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: comfortaa;
}

html, body {
  height: 100vh;
}

.container {
  height: 100%;
}
.container .div-info {
  height: 15%;
  background-color: #65e068;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .div-info h2 {
  color: white;
  display: none;
}
.container .div-info .title {
  position: relative;
  margin-left: 2em;
}
.container .div-info .title div {
  height: 3em;
}
.container .div-info .title img {
  height: 10em;
  width: 10em;
  object-fit: contain;
}
.container .div-info .title h2 {
  position: absolute;
  top: 2;
}
.container .div-info .logo {
  margin-right: 2em;
}
.container .div-info img {
  height: 5em;
  width: 5em;
  object-fit: contain;
}

.container .div-form {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .div-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  max-width: 80%;
}
.container .div-form form h3 {
  margin-bottom: 1em;
  font-size: 25px;
}
.container .div-form form .input-div {
  width: 100%;
  display: flex;
  margin-bottom: 2em;
  height: 3.5em;
}
.container .div-form form .input-div div {
  background-color: #65e068;
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .div-form form .input-div div img {
  height: 2em;
  width: 2em;
  object-fit: cover;
}
.container .div-form form .input-div input {
  border: none;
  display: block;
  width: 100%;
  outline: none;
  text-indent: 1em;
  background-color: rgb(245, 245, 245);
}
.container .div-form form .input-div input[type=password], .container .div-form form .input-div input[type=text] {
  border-bottom: 2px solid rgb(245, 245, 245);
  border-top: 2px solid rgb(245, 245, 245);
  border-right: 2px solid rgb(245, 245, 245);
  border-left: 2px solid #65e068;
  transition: all 0.2s ease-in;
}
.container .div-form form .input-div input[type=password]:focus, .container .div-form form .input-div input[type=text]:focus {
  border: 2px solid #65e068;
}
.container .div-form form .input-div input[type=submit] {
  cursor: pointer;
  text-indent: 0;
  background-color: #65e068;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}
.container .div-form form .input-div input[type=submit]:hover {
  background-color: #4fb951;
}
.container .div-form form .error {
  background-color: white;
  height: 0;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.container .div-form form .error span {
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 0;
}
.container .div-form form .error-apparaite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 51, 51);
  color: white;
  height: 2em;
  border-radius: 2px;
}
.container .div-form form .error-apparaite span {
  font-size: 15px;
}

@media only screen and (min-width: 910px) {
  .container {
    position: relative;
    display: flex;
    height: 100%;
  }
  .container .div-info {
    height: 100%;
    width: 40%;
  }
  .container .div-info .title img {
    height: 15em;
    width: 15em;
  }
  .container .div-info p {
    position: absolute;
    width: 18em;
    left: 2.5em;
    top: 60%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 100;
  }
  .container .div-form {
    width: 60%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
